body{
    background-color: rgb(214, 141, 216);
}

.bntIndex{
    background-color: rgb(222, 210, 233);
    color: black;
}

.borda{
    border: 1px solid rgb(255, 255, 255);
}

.grid{
    display: grid;
    padding: 7px;
    border: 1px solid rgb(233, 169, 241);
    border-radius: 20px;
    grid-template-columns: auto auto auto auto;
    align-items: center;
    margin-top: 2%;
    margin-left: 41%;
    margin-right: 41%;
}

.input{
    border: none;
    box-shadow: 2px 2px 10px  rgb(205, 11, 235);
    border-radius:20px ;
    
}

.botao{
    background-color: rgb(217, 85, 226);
    border-color: rgb(222, 88, 222);
    color: antiquewhite;
    border-radius:20px ;
}

.botao:hover{
    cursor: grab;

}

.botao:active{
    cursor: grabbing;
}

.delete{
    text-decoration: none;
    color: blueviolet;
    margin-left: 20px;
    width: 10px;
}

.imagem{
    width: 30px;
}



.cadastrar{
    margin-left: 1%;
    text-decoration: none;
    color: blueviolet;
    border: 2px solid rgb(213, 70, 213);
    background-color: rgb(217, 85, 226);
    color: antiquewhite;
    border-radius: 20px ;
}

.cadastrar:hover{
    cursor: grab;
}

.cadastrar:active{
    cursor: grabbing;
}

.cadastrarIndex{
    margin-left: 40%;
    text-decoration: none;
    color: blueviolet;
    border: 2px solid rgb(213, 70, 213);
    background-color: rgb(217, 85, 226);
    color: antiquewhite;
    border-radius: 5px ;
}

.h1index{
    margin-top: 10%;
    text-align: center;
    color: aliceblue;
}
hr{
    margin-right: 75%;
}

.formula{
    margin-left: 40%;
}

.formulario{
    color: white;
    margin-left: 40%;
    margin-top: 10%;
}