<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='/style/style.css'>
    <script src='main.js'></script>
</head>
<body>

   <a href="/pessoas/criar">Cadastrar</a>

    <div class="grid">

    <% pessoas.forEach((pessoa) => { %>
        <div>
        <%= pessoa.nome %>
    </div>
    <div>
        <%= pessoa.sobrenome %>
    </div>
    <div>
        <%= pessoa.idade %>
    </div>
    <% }) %> 
</div>   


</body>
</html>

